
header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    color: white;
  }

body {
    background-color: rgb(0, 0, 0);
    color:white;
    font-family:Arial, Helvetica, sans-serif
  }
  

p {
    margin:0;
    padding:3px 0 3px 0;
  }

score {
    display: flex;
    justify-content: space-between;
    padding:0 20% 0 20%;
    font-size: 18px;
    text-align: center;
  }

score-box {
    display: flex;
    flex-direction: column;
  }

game-wrapper {
  padding-top: 50px;
  display:flex;
  justify-content: center;
}

#game-option {
  margin: 0 20px 0 20px;
  width: 80px;
  height: 50px;
  border-radius: 5px;

}
#game-option:hover {
  background-color: green;
  border-color: green;
  }